.star{
  background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  fill='gray' stroke='none' viewBox='0 0 24 24'%3E%3Cpath d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z' /%3E%3C/svg%3E" );
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}
.hover{
  background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  fill='gray' stroke='orangered' viewBox='0 0 24 24'%3E%3Cpath d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z' /%3E%3C/svg%3E" );
}

.selected{
  background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  fill='orange' stroke='none' viewBox='0 0 24 24'%3E%3Cpath d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z' /%3E%3C/svg%3E" );
}
.selected.hover{
  background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  fill='orange' stroke='orangered' viewBox='0 0 24 24'%3E%3Cpath d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z' /%3E%3C/svg%3E" );
}
